<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MicroscanTestSuite" verbose="1" parallel="false">
    <test name="MicroscanTests" >
        <classes>
            <class name="microscan.Dashboard"/>
            <class name="microscan.UserManagement"/>
            <class name="microscan.LLCPerformance"/>
            <class name="microscan.SLAReport"/>
            <class name="microscan.ServiceInventory"/>
            <class name="microscan.Utilization"/>

        </classes>
    </test>
</suite>